bin/
obj/
*.user
*.suo
.vs/
node_modules/
target/
dist/*.zip
dist/*.rar
dist/*.7z
__pycache__/
*.pyc
.gradle/
build/
dist/
out/
Assembling/
scratch/
*.apk
*.aab
*.pfx
*.cer
*.msi
*.zip
*.7z
*.rar
*.tar.gz
.vscode/
.idea/
Thumbs.db
Desktop.ini
*.log
*.tmp
